@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
body {
    background-color: #0facaa;
    color: black;
    padding: 10px 30px 50px 80px;
    font-size: 28px;
    font-family: 'Indie Flower', cursive;
}


/* bar chart stuff */

.chart {
    background: #eee;
    padding: 4px;
}

.chart div {
    width: 0;
    transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.chart div {
    font: 16px serif;
    background-color: green;
    text-align: right;
    padding: 3px;
    margin: 5px;
    color: white;
    box-shadow: 2px 2px 2px #666;
}


/* myLinearChart */

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdge;
}

.axis text {
    font-family: sans-serif;
    font-size: 10px;
}

.tick {
    stroke-dasharray: 1, 2;
}